.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}
.navbar {
  color: #da7625;
  font-size: 25px;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background-color: #da7625;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.anchor-link {
  color: white;
  text-decoration: none;
}
